# Local MongoDB (for development)
# MONGO_URI=mongodb://localhost:27017/?serverSelectionTimeoutMS=2000

# MongoDB Atlas Cloud (for production)
MONGO_URI=mongodb+srv://sidd2004sk_db_user:DrUwVcw2v018Wivq@crimedetection.t2ixwg4.mongodb.net/CrimeRankingDB?retryWrites=true&w=majority&appName=CrimeDetection

MONGO_DB_NAME=CrimeRankingDB
OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen2.5-coder:1.5b
